#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.buttonload{
      background-color: transparent;
      border: transparent;
}

#mapid{
    height: 100%;
}

body{
  background: url("https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.template-joomspirit.com%2Ftemplate-joomla%2Ftemplate-100%2Fimages%2Fbackground%2Flight-blue-NR.jpg&f=1") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

